{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block extra_header %}
    {% url 'view_list' list.id as form_action %}
    {% include "form.html" with form_action=form_action form=form %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <table id="id_list_table" class="table">
                {% for item in list.item_set.all %}
                    <tr><td>
                        {{ forloop.counter }}: {{ item.text }}
                    </td></tr>
                {% endfor %}
            </table>
            <div class="shared_with">
                <div>
                    List owner:
                    <p id="id_list_owner">{{ list.owner.email }}</p>
                    List shared with:
                    <ul class="list-sharee">
                        {% for us in list.shared_with.all %}
                        <li>
                            {{ us.email }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if list.owner.email == user.email %}
                    <div>
                        <form method="POST" action="{% url 'share_list' list.id %}" >
                            {% csrf_token %}
                            Share your list with your friends!
                            <input
                                id="id_sharee"
                                name="sharee"
                                class="form-control form-control-lg {% if form.errors %}is-invalid{% endif %}"
                                placeholder="your-friend@example.com"
                                aria-desribedby="id_text_feedback"
                                required
                            />
                            {% if form.errors %}
                                <div id="id_text_feedback" class="invalid-feedback">
                                    {{ form.errors.text.0 }}
                                </div>
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "scripts.html" %}
{% endblock %}
